table.publications{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}

/* TITLE */
table.publications > tbody > tr > td:nth-child(1)
{
    width: 25%;
}
/* AUTHORS */
table.publications > tbody > tr > td:nth-child(2)
{
    width: 45%;
}
/* YEAR */
table.publications > tbody > tr > td:nth-child(3)
{
    text-align: center;
}
/* DOI */
table.publications > tbody > tr > td:nth-child(4)
{
    text-align: center;
}
table.publications > tbody > tr > td:nth-child(5)
{
    text-align: center;
}
/* ACTIONS */
table.publications > tbody > tr > td:nth-child(6)
{
    /* display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline; */
}

table.publications button{
    border: none;
    margin: 2px;
    padding: 2px 5px;
}

table.publications button a {
    color: #fff;
}

table.publications button a:hover {
    color: #fff;
    text-decoration: none;
}

table.publications button img{
    width: 15px;
}


table.publications button.blue{
    background-color: #4a82da;
    color: #fff;
}

table.publications button.orange{
    background-color: orange;
    color: #fff;
}

table.publications > tbody > tr:nth-child(even){
    background-color: #eee;
}

table.publications > tbody > tr{
    display: none;
}

table.publications > tbody > tr > td{
    padding: 5px 10px;
    position: relative;
}

table.publications > thead th:last-child{
    border-top-right-radius: 15px;
}

table.publications > thead th:first-child{
    border-top-left-radius: 15px;
}

table.publications th {
    padding: 10px 20px;
    background-color: #002162;
    color: white;
    text-align: center;
    cursor: pointer;
}

table.publications > tbody > tr > td:hover .whisper{
    display: block;
}

.whisper{
    display:  none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    padding: 10px;
    left: 0px;
    width: 100%;
    z-index: 100;
    border-top: 2px solid #4a82da;
    border-left: 1px solid #4a82da;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.75);
}

.whisper-large{
    width:fit-content;
}

.pmid-whisper{
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pmid-whisper > div{
    display:flex; 
    flex-direction:row; 
    justify-content:flex-start;
}

.table-suffix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 20px;
}

.table-paginator{
    display: flex;
    flex-direction: row;
}

.table-paginator element{
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.table-paginator element:hover{
    border: 1px solid #002162;
}

.table-paginator element.active{
    background-color: #002162;
    color: #fff;
}

.table-paginator element.active:hover{
    border: 1px solid #ddd;
}

.table-paginator element.inactive:hover{
    border: 1px solid #ddd;
}

.table-paginator element.inactive{
    color: #aaa;
    cursor: not-allowed;
}

.table-paginator element:first-child
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table-paginator element:last-child
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table-items-total{
    display: flex;
    flex-direction: row;
}

.table-items-total element{
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.table-items-total element.active{
    background-color: #ca0000;
    color: #fff;
}

#hover-div{
    position: relative;
}

#hover-div > div{
    top: 35px;
    width: 240px;
    left: -75px;
    font-size: 12px;;
}

#hover-div > div > table tr > td:nth-child(2)
{
    padding-left: 20px;
    font-weight: bold;
}


@keyframes load {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 150px 150px;
    }
  }

.loading-bar {
    position: relative;
    margin: 0 auto;
    height: 8px;
    width: 100%;
  }

span.loading {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    /* border-radius: 50px; */
    background-image: linear-gradient(to bottom, #7398ff, #001c79 60%);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
  }

  span.loading:after{
    content: "";
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.loading-bar > span:after, .animate > span > span { 
    animation: load 1s infinite;
    animation-delay: 0;
  }