# @author Jakub Juračka <jakub.juracka55@gmail.com>

### NetBeans ###
**/nbproject/

### Python cache ###
**/__pycache**

### Logs ####
**/*.log

### Upload files ###
**/files/upload/*
**/files/uploadReports/*
**/files/schedulerReports/*
**/files/3DStructures/* 
**/files/download/*

/vendor/**

### Config ###
/config.php
/composer.lock

### System local files ###
/system/hash/**
