# @author Jakub Juračka <jakub.juracka55@gmail.com>

### NetBeans ###
**/nbproject/

### Upload files ###
**/files/upload/*
**/files/uploadReports/*
**/files/schedulerReports/*
**/files/3DStructures/* 
/vendor/**

### Config ###
/config.php
/composer.lock

