{
    "openapi": "3.1.0",
    "info": {
        "title": "MolMeDB: Molecules on Membranes Database",
        "version": "1.0.0",
        "description": "A database of molecules, membranes and their interactions (permeability, partitioning, binding), curated for membrane-transport research."
    },
    "servers": [
        {
            "url": "https://molmedb.upol.cz/api/v1",
            "description": "MolMeDB"
        }
    ],
    "paths": {
        "/about": {
            "get": {
                "operationId": "about.index",
                "tags": [
                    "About"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "repository": {
                                                            "type": "string"
                                                        },
                                                        "contact": {
                                                            "type": "string"
                                                        },
                                                        "license": {
                                                            "type": "object",
                                                            "properties": {
                                                                "data": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "data",
                                                                "code"
                                                            ]
                                                        },
                                                        "citation": {
                                                            "type": "string"
                                                        },
                                                        "identifier_scheme": {
                                                            "type": "object",
                                                            "properties": {
                                                                "pattern": {
                                                                    "type": "string"
                                                                },
                                                                "example": {
                                                                    "type": "string"
                                                                },
                                                                "resolver": {
                                                                    "type": "string"
                                                                },
                                                                "identifiers_org": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "pattern",
                                                                "example",
                                                                "resolver",
                                                                "identifiers_org"
                                                            ]
                                                        },
                                                        "rdf": {
                                                            "type": "object",
                                                            "properties": {
                                                                "base": {
                                                                    "type": "string"
                                                                },
                                                                "vocabulary": {
                                                                    "type": "string"
                                                                },
                                                                "sparql_endpoint": {
                                                                    "type": "string"
                                                                },
                                                                "dump": {
                                                                    "type": "string"
                                                                },
                                                                "article": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "base",
                                                                "vocabulary",
                                                                "sparql_endpoint",
                                                                "dump",
                                                                "article"
                                                            ]
                                                        },
                                                        "units": {
                                                            "type": "object",
                                                            "properties": {
                                                                "interactions_passive": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "x_min": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "nm"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "Xmin, the drug position with minimum energy in the membrane."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "gpen": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "kcal/mol"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "ΔGpen, the penetration barrier."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "gwat": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "kcal/mol"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "ΔGwat, the affinity towards the membrane."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "logk": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "log10(mol_m/mol_w)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "LogK, the logarithm of the membrane-water partition coefficient."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "logperm": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "log10(cm/s)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "LogPerm, the logarithm of the permeability coefficient."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "temperature": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "°C"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "Temperature of the measurement or calculation."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "x_min",
                                                                        "gpen",
                                                                        "gwat",
                                                                        "logk",
                                                                        "logperm",
                                                                        "temperature"
                                                                    ]
                                                                },
                                                                "interactions_active": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "km": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "-log10(M)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "pKm, the negative decimal logarithm of the Michaelis constant Km."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "ec50": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "-log10(M)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "pEC50, the negative decimal logarithm of the half maximal effective concentration."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "ki": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "-log10(M)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "pKi, the negative decimal logarithm of the inhibition constant Ki."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "ic50": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "-log10(M)"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "pIC50, the negative decimal logarithm of the half maximal inhibitory concentration."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        },
                                                                        "temperature": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unit": {
                                                                                    "type": "string",
                                                                                    "const": "°C"
                                                                                },
                                                                                "description": {
                                                                                    "type": "string",
                                                                                    "const": "Temperature of the measurement."
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "unit",
                                                                                "description"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "km",
                                                                        "ec50",
                                                                        "ki",
                                                                        "ic50",
                                                                        "temperature"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "interactions_passive",
                                                                "interactions_active"
                                                            ]
                                                        },
                                                        "links": {
                                                            "type": "object",
                                                            "properties": {
                                                                "openapi": {
                                                                    "type": "string"
                                                                },
                                                                "mcp": {
                                                                    "type": "string"
                                                                },
                                                                "sitemap": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "openapi",
                                                                "mcp",
                                                                "sitemap"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "description",
                                                        "version",
                                                        "url",
                                                        "repository",
                                                        "contact",
                                                        "license",
                                                        "citation",
                                                        "identifier_scheme",
                                                        "rdf",
                                                        "units",
                                                        "links"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/interactions/passive": {
            "get": {
                "operationId": "interaction.indexPassive",
                "tags": [
                    "Interaction"
                ],
                "parameters": [
                    {
                        "name": "structure",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 30
                        }
                    },
                    {
                        "name": "publication",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "membrane",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "charge",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 40
                        }
                    },
                    {
                        "name": "with_value",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "enum": [
                                "logperm",
                                "logk",
                                "gpen",
                                "gwat",
                                "x_min",
                                null
                            ]
                        }
                    },
                    {
                        "name": "temperature_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "temperature_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logperm_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logperm_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logk_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logk_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gpen_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gpen_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gwat_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gwat_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "x_min_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "x_min_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `InteractionPassiveResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/InteractionPassiveResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/interactions/passive/{interaction}": {
            "get": {
                "operationId": "interaction.showPassive",
                "tags": [
                    "Interaction"
                ],
                "parameters": [
                    {
                        "name": "interaction",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`InteractionPassiveResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/InteractionPassiveResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/interactions/active": {
            "get": {
                "operationId": "interaction.indexActive",
                "tags": [
                    "Interaction"
                ],
                "parameters": [
                    {
                        "name": "structure",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 30
                        }
                    },
                    {
                        "name": "publication",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "protein",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "uniprot",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 20
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "charge",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 40
                        }
                    },
                    {
                        "name": "with_value",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "enum": [
                                "km",
                                "ec50",
                                "ki",
                                "ic50",
                                null
                            ]
                        }
                    },
                    {
                        "name": "temperature_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "temperature_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "km_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "km_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ec50_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ec50_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ki_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ki_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ic50_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ic50_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `InteractionActiveResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/InteractionActiveResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/interactions/active/{interaction}": {
            "get": {
                "operationId": "interaction.showActive",
                "tags": [
                    "Interaction"
                ],
                "parameters": [
                    {
                        "name": "interaction",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`InteractionActiveResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/InteractionActiveResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/membranes": {
            "get": {
                "operationId": "membrane.index",
                "tags": [
                    "Membrane"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MembraneResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MembraneResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/membranes/categories": {
            "get": {
                "operationId": "membrane.categories",
                "tags": [
                    "Membrane"
                ],
                "responses": {
                    "200": {
                        "description": "`CategoryTreeCollection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoryTreeCollection"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/membranes/{membrane}": {
            "get": {
                "operationId": "membrane.show",
                "tags": [
                    "Membrane"
                ],
                "parameters": [
                    {
                        "name": "membrane",
                        "in": "path",
                        "required": true,
                        "description": "The membrane ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`MembraneResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MembraneResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/membranes/{membrane}/stats": {
            "get": {
                "operationId": "membrane.stats",
                "tags": [
                    "Membrane"
                ],
                "parameters": [
                    {
                        "name": "membrane",
                        "in": "path",
                        "required": true,
                        "description": "The membrane ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "membrane": {
                                                    "$ref": "#/components/schemas/MembraneResource"
                                                },
                                                "total": {
                                                    "type": "object",
                                                    "properties": {
                                                        "interactions_passive": {
                                                            "type": "integer"
                                                        },
                                                        "structures": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "interactions_passive",
                                                        "structures"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "membrane",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/membranes/{membrane}/interactions": {
            "get": {
                "operationId": "membrane.interactions",
                "tags": [
                    "Membrane"
                ],
                "parameters": [
                    {
                        "name": "membrane",
                        "in": "path",
                        "required": true,
                        "description": "The membrane ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "structure",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 30
                        }
                    },
                    {
                        "name": "publication",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "membrane",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    },
                    {
                        "name": "charge",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 40
                        }
                    },
                    {
                        "name": "with_value",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "enum": [
                                "logperm",
                                "logk",
                                "gpen",
                                "gwat",
                                "x_min",
                                null
                            ]
                        }
                    },
                    {
                        "name": "temperature_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "temperature_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "ph_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logperm_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logperm_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logk_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "logk_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gpen_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gpen_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gwat_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "gwat_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "x_min_min",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "x_min_max",
                        "in": "query",
                        "schema": {
                            "type": [
                                "number",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `InteractionPassiveResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/InteractionPassiveResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/membranes/{membrane}/interactions/export": {
            "get": {
                "operationId": "membrane.export",
                "tags": [
                    "Membrane"
                ],
                "parameters": [
                    {
                        "name": "membrane",
                        "in": "path",
                        "required": true,
                        "description": "The membrane ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        },
                        "headers": {
                            "Transfer-Encoding": {
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "chunked"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/methods": {
            "get": {
                "operationId": "method.index",
                "tags": [
                    "Method"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MethodResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MethodResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/methods/categories": {
            "get": {
                "operationId": "method.categories",
                "tags": [
                    "Method"
                ],
                "responses": {
                    "200": {
                        "description": "`CategoryTreeCollection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CategoryTreeCollection"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/methods/{method}": {
            "get": {
                "operationId": "method.show",
                "tags": [
                    "Method"
                ],
                "parameters": [
                    {
                        "name": "method",
                        "in": "path",
                        "required": true,
                        "description": "The method ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`MethodResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MethodResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/methods/{method}/stats": {
            "get": {
                "operationId": "method.stats",
                "tags": [
                    "Method"
                ],
                "parameters": [
                    {
                        "name": "method",
                        "in": "path",
                        "required": true,
                        "description": "The method ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "method": {
                                                    "$ref": "#/components/schemas/MethodResource"
                                                },
                                                "total": {
                                                    "type": "object",
                                                    "properties": {
                                                        "interactions_passive": {
                                                            "type": "integer"
                                                        },
                                                        "interactions_active": {
                                                            "type": "integer"
                                                        },
                                                        "structures": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "interactions_passive",
[...]
